<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIMPLE MOVIE TICKETS</title>
    <link th:href="@{/css/bootstarp.css}" rel="stylesheet">
    <link th:href="@{/css/Register.css}" rel="stylesheet" type="text/css" > 
  </head>
<body>
    <div id="head" class="container-fluid p-4 bg-primary text-white text-center">
      <h1 id="webname">TICKETS FOREVER.com</h1>
      <p>GET MOVIE TICKETS EASY.!</p> 
    </div>
   
    
<div class="sidebar">
  <a th:href="@{/}">Home</a>
  <a th:href="@{/UserLogin}" class="active" >LOGIN</a>  
  <a th:href="@{/UserReg}">Register</a>
  <a href="#about">About us</a>
  <a href="#about">Cantact us</a>
</div>
  
 
<div class="container mt-5" id="movies">
    <section class="login">
        
        
        <fieldset class="main">
   
    <div>
        <br>
  <form th:action="@{/CheckLogin}" method="post">
      <a href="#"><h1 id="login">Login</h1></a>
    </div> 
    <h4 th:text="${fail}" style="color: red;"></h4>
    <br><br>
    <input  type="text" name="Email" class="in1" placeholder="Enter Email" required>
    <br><br>
    <input type="password" name="Password" class="in1" placeholder="password" required>
    <br>
<br>
    <button type="submit">Login</button>
    </form>
    <br>
   
    <br>
    <h3>Don't Have Account</h3>
    
    <a th:href="@{/UserReg}"><button>Register</button></a>  

</fieldset>


    </section>



 </div>

 
</body>
</html>